__pycache__/languages.cpython-39.pyc
Local_files/Gorlu_GUI.pdf
Local_files/Gorlu_GUI.pptx
Local_files/To-do_Gorlu.txt
Local_files/utility.py
Local_files/Foto/elab.jpg
Local_files/Foto/en_origin.png
Local_files/Foto/fr_origin.png
Local_files/Foto/IMG_20210316_152034.jpg
Local_files/Foto/info.jpg
Local_files/Foto/it_origin.png
Local_files/Foto/Screen.png
Local_files/Immagini_test/56d9c094d790eb6302431fdae958dfdf.jpg
Local_files/Immagini_test/Canada.png
Local_files/Immagini_test/CAT.jpg
Local_files/Immagini_test/Frase.jpg
Local_files/Immagini_test/Giardino casa.jpg
Local_files/Immagini_test/images.jpeg
Local_files/Immagini_test/IMG_20210311_012446-removebg-preview.png
Local_files/Immagini_test/Immagine 2021-03-12 033737.png
Local_files/Immagini_test/Immagine 2021-03-12 035118.png
Local_files/Immagini_test/Immagine 2021-03-12 041833.png
Local_files/Immagini_test/Lavagna Arduino.png
Local_files/Immagini_test/Mani2.jpg
Local_files/Immagini_test/Medaglia.jpg
Local_files/Immagini_test/Netflix.png
Local_files/Immagini_test/Salvo.jpg
Local_files/Immagini_test/Semplice.jpg
Local_files/Immagini_test/Sofia.jpg
Local_files/Immagini_test/Trofeo.jpg
Local_files/Immagini_test/Volto1.jpg
Local_files/Vecchi/Collegamento.py
Local_files/Vecchi/Contorni.py
